@mixin disJA {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin animationBtn {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
@mixin btnBack {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
}
@mixin textCol {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@function px2rem($px) {
  @return $px / 20 * 1rem;
}
#app {
  background: linear-gradient(45deg, #bee7e9 27%, #2980b9 85%);
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;

  #file-box {
    margin-bottom: -3rem;
  }
  .header {
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    .h-left {
      height: 100%;
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .l-box {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .el-button {
          width: 4rem;
          height: 4rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .el-button svg {
          display: block;
          margin: auto;
        }

        .btn-grad1 {
          background-image: linear-gradient(
            to right,
            #ece9e6 0%,
            #ffffff 51%,
            #ece9e6 100%
          );
          @include btnBack;
        }

        .btn-grad1:hover {
          @include animationBtn;
        }

        .btn-grad2 {
          background: linear-gradient(
            to left,
            #88b6e0 26%,
            #936dc4e1 50%,
            #4e92db 87%
          );
          @include btnBack;
        }

        .btn-grad2:hover {
          @include animationBtn;
        }

        .btn-grad3 {
          background-image: linear-gradient(
            to right,
            #4ca1af 0%,
            #c4e0e5 51%,
            #4ca1af 100%
          );
          @include btnBack;
        }

        .btn-grad3:hover {
          @include animationBtn;
        }

        .btn-grad4 {
          background-image: linear-gradient(
            to right,
            #ee0979 0%,
            #ff6a00 51%,
            #ee0979 100%
          );
          @include btnBack;
        }

        .btn-grad4:hover {
          @include animationBtn;
        }
      }
      .status {
        height: 68%;
        margin-top: -14px;
        .stop {
          margin-top: 8px;
        }
      }
    }
    .h-center {
      @include disJA;
      height: 56%;
      width: 30%;
      .gradient-text {
        font-size: px2rem(56);
        font-weight: 550;
        background: linear-gradient(
          137deg,
          #4a3d86 33%,
          rgba(15, 172, 240, 0.91) 51%,
          #9b8af3 72%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #1f1c2c;
      }
      // border: 4px solid #ffffff;
      // border-top: 4px dotted #fff;
      // border-radius: 0px 0px 200px 200px;
    }
    .h-right {
      height: 100%;
      width: 46%;
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
      padding: 1rem;
      flex-wrap: wrap;
      align-items: center;
      .el-divider {
        background-color: #000;
      }
      p {
        height: 16%;
        @include disJA;
      }
      .gradient-text {
        font-size: px2rem(26);
        font-weight: 440;
        background: linear-gradient(54deg, #12f384 22%, #093637 78%);
        @include textCol;
      }
      .s-inp {
        width: 100%;
        height: 42%;
        .el-input {
          width: 26%;
          margin-left: 4px;
          margin-bottom: 4px;
        }
      }
      .s-btn {
        margin-top: 8px;
        width: 84%;
        height: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }

  .info {
    height: 8%;
    width: 100%;
    @include disJA;
    justify-content: space-evenly;
    .info-box {
      display: flex;
      flex-direction: row;
      width: 19%;
      align-items: center;
      span {
        width: px2rem(180);
      }
    }
  }

  .body {
    flex: 1;
    display: flex;
    border-top: 1px solid #000;
    #binChart {
      width: 96.6%;
      height: 96%;
    }
  }
  /* .footer {
    flex: 1;
    p {
      color: rgb(255, 0, 98);
    }
  } */
}